# Auto detect text files and perform LF normalization
* text=auto
'WindowsNoEditor/Osou/Binaries/Win64/Osou.exe' filter=lfs diff=lfs merge=lfs -text
'WindowsNoEditor/Osou/Content/Paks/Osou-WindowsNoEditor.pak' filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.pak filter=lfs diff=lfs merge=lfs -text
